$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cad5e2;
$slate-400: #90a1b9;
$slate-500: #62748e;
$slate-600: #45556c;
$slate-700: #314158;
$slate-800: #1d293d;
$slate-900: #0f172b;
$slate-950: #020618;

$orange-50: #fff7ed;
$orange-100: #ffedd4;
$orange-200: #ffd6a7;
$orange-300: #ffb86a;
$orange-400: #ff8904;
$orange-500: #ff6900;
$orange-600: #f54900;
$orange-700: #ca3500;
$orange-800: #9f2d00;
$orange-900: #7e2a0c;
$orange-950: #441306;

$teal-50: #f0fdfa;
$teal-100: #cbfbf1;
$teal-200: #96f7e4;
$teal-300: #46ecd5;
$teal-400: #00d5be;
$teal-500: #00bba7;
$teal-600: #009689;
$teal-700: #00786f;
$teal-800: #005f5a;
$teal-900: #0b4f4a;
$teal-950: #022f2e;

$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c6d2ff;
$indigo-300: #a3b3ff;
$indigo-400: #7c86ff;
$indigo-500: #615fff;
$indigo-600: #4f39f6;
$indigo-700: #432dd7;
$indigo-800: #372aac;
$indigo-900: #312c85;
$indigo-950: #1e1a4d;

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d4ff;
$purple-300: #dab2ff;
$purple-400: #c27aff;
$purple-500: #ad46ff;
$purple-600: #9810fa;
$purple-700: #8200db;
$purple-800: #6e11b0;
$purple-900: #59168b;
$purple-950: #3c0366;

$rose-50: #fff1f2;
$rose-100: #ffe4e6;
$rose-200: #ffccd2;
$rose-300: #ffa1ad;
$rose-400: #ff637e;
$rose-500: #ff2056;
$rose-600: #ec003f;
$rose-700: #c60036;
$rose-800: #a50036;
$rose-900: #8b0836;
$rose-950: #4d0218;

$grey-50: #ffffff;
$grey-100: #f5f5f5;
$grey-200: #e5e5e5;
$grey-300: #d1d5dc;
$grey-400: #d4d4d4;
$grey-500: #a1a1a1;
$grey-600: #737373;
$grey-700: #525252;
$grey-800: #404040;
$grey-900: #171717;
$grey-950: #0a0a0a;

$grey-alpha-50: #ffffff05;
$grey-alpha-100: #f5f5f50a;
$grey-alpha-200: #e5e5e50f;
$grey-alpha-300: #d1d5dc14;
$grey-alpha-400: #d4d4d41f;
$grey-alpha-500: #a1a1a124;
$grey-alpha-600: #73737329;
$grey-alpha-700: #52525233;
$grey-alpha-800: #4040403d;
$grey-alpha-900: #17171752;
$grey-alpha-950: #0a0a0a66;

$red-50: #fef2f2;
$red-100: #ffe2e2;
$red-200: #ffc9c9;
$red-300: #ffa2a2;
$red-400: #ff6467;
$red-500: #fb2c36;
$red-600: #e7000b;
$red-700: #c10007;
$red-800: #9f0712;
$red-900: #82181a;
$red-950: #460809;

$red-alpha-50: #fef2f205;
$red-alpha-100: #ffe2e20a;
$red-alpha-200: #ffc9c90f;
$red-alpha-300: #ffa2a214;
$red-alpha-400: #ff64671f;
$red-alpha-500: #fb2c3624;
$red-alpha-600: #e7000b29;
$red-alpha-700: #c1000733;
$red-alpha-800: #9f07123d;
$red-alpha-900: #82181a47;
$red-alpha-950: #4608094d;

$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-200: #b9f8cf;
$green-300: #7bf1a7;
$green-400: #05df72;
$green-500: #00c950;
$green-600: #00a63e;
$green-700: #008235;
$green-800: #016630;
$green-900: #0d542b;
$green-950: #032e15;

$green-alpha-50: #f0fdf405;
$green-alpha-100: #dcfce70a;
$green-alpha-200: #b9f8cf0f;
$green-alpha-300: #7bf1a714;
$green-alpha-400: #05df721f;
$green-alpha-500: #00c95024;
$green-alpha-600: #00a63e29;
$green-alpha-700: #00823533;
$green-alpha-800: #0166303d;
$green-alpha-900: #0d542b52;
$green-alpha-950: #032e154d;

$yellow-50: #fefce8;
$yellow-100: #fef9c2;
$yellow-200: #fff085;
$yellow-300: #ffdf20;
$yellow-400: #fdc700;
$yellow-500: #f0b100;
$yellow-600: #d08700;
$yellow-700: #a65f00;
$yellow-800: #894b00;
$yellow-900: #733e0a;
$yellow-950: #432004;

$yellow-alpha-50: #fefce805;
$yellow-alpha-100: #fef9c20a;
$yellow-alpha-200: #fff0850f;
$yellow-alpha-300: #ffdf2014;
$yellow-alpha-400: #fdc7001f;
$yellow-alpha-500: #f0b10024;
$yellow-alpha-600: #d0870029;
$yellow-alpha-700: #a65f0033;
$yellow-alpha-800: #894b003d;
$yellow-alpha-900: #733e0a47;
$yellow-alpha-950: #4320044d;
