$font-family-text: "Fira Code", ui-monospace, monospace;

$font-size-body-sm: 14px;
$line-height-body-sm: 1.4;

$font-size-body-md: 16px;
$line-height-body-md: 1.5;

$font-size-body-lg: 18px;
$line-height-body-lg: 1.5;

$font-size-heading-h1: 60px;
$line-height-heading-h1: 1.1;

$font-size-heading-h2: 48px;
$line-height-heading-h2: 1.2;

$font-size-heading-h3: 36px;
$line-height-heading-h3: 1.3;

$font-size-heading-h4: 30px;
$line-height-heading-h4: 1.4;

$font-size-heading-h5: 24px;
$line-height-heading-h5: 1.4;

$font-size-heading-h6: 20px;
$line-height-heading-h6: 1.5;
